@mixin script-heading(){
    color: #DB8D33;
    font-size:48px;
    font-family: typography.$secondary-font;
    font-weight: 300;
}
@use "./typography"

@mixin main-link(){
	color: #ff6347;
	text-transform: uppercase;
    font-size: 14px;
}
